@mixin separate {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-grey-light-2;
  position: absolute;
}
