.modal {
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  &-content {
    background-color: $color-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #888;
    max-width: 1000px;
    width: 100%;
    border-radius: 16px;
    color: $color-text-4;
    padding-left: 20px;
    padding-top: 16px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s;
    &__close {
      display: flex;
      align-items: center;
    }
    &__x {
      border-radius: 100px;
      margin-left: -2px;
      padding: 10px;
      width: 40px;
      height: 40px;
      &:hover {
        background-color: #f6f6f6;
        cursor: pointer;
      }
    }
  }
  &__line--up {
    position: relative;
    margin-left: -10px;
    width: 105;
    left: 0;
    transition: all 0.2s ease;
    height: 2.2px;
    background-color: $color-dark-1;
  }
  &__line--down {
    margin-bottom: 32px;
    margin-left: 10px;
    width: calc(100% - 16px);
  }
  &-box {
    margin-top: 16px;
    height: 85vh;
    max-height: 615px;
    overflow: auto;
    overflow-x: hidden;
  }
  &__header {
    &-category {
      display: flex;
      &-item {
        padding: 10px;
        &:hover {
          border-radius: 8px;
          cursor: pointer;
          background-color: #f6f6f6;
        }
        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }

  &__body {
    font-size: 1.4rem;
    &-item {
      display: none;
    }
  }
  &-suggest__list {
    margin-bottom: 32px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    margin: 8px 0 8px 26px;
    &:hover {
      border-radius: 8px;
      background-color: rgb(247, 247, 247);
      cursor: pointer;
    }
    & > span:first-child {
      color: $color-text-2;
    }
  }
}

.modal__header-category-item.modal__header-category--active > span {
  color: $color-text-2;
}

.modal-currency__item.item--active,
.modal-languages__item.item--active {
  border: 1px solid $color-text-2;
  border-radius: 8px;
}
.modal__body-item.modal__body--active {
  display: block;
}
